<div class="container">
  <br />
  <h2>Add Blog</h2>
  <div class="card">
    <div class="card-body">
      <div>
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" formControlName="title" placeholder="Title" name="title" class="form-control" id="title">
          </div>

          <div class="form-group">
            <label for="category">Category</label>
            <input type="text" formControlName="category" placeholder="Category" name="category" class="form-control"
              id="category">
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input formControlName="description" placeholder="Description" name="description" class="form-control"
              id="description">
          </div>

          <div class="form-group">
            <label for="author">Author</label>
            <input formControlName="author" placeholder="Author" name="author" class="form-control" id="author">
          </div>

          <div class="form-group">
            <label for="content">Content</label>
            <input type="text" formControlName="content" placeholder="Content" name="content" class="form-control" id="content">
          </div>

          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" formControlName="date" placeholder="Date" name="date" class="form-control" id="date">
          </div>

          <div class="form-group">
            <label for="keywords">Keywords</label>
            <input type="text" formControlName="keywords" placeholder="Keywords" name="keywords" class="form-control"
              id="keywords">
          </div>

          <button class="btn btn-success">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>